html
    h1 KenzieGram
        form(
            action="/upload" 
            method="post" 
            enctype="multipart/form-data"
        )

            div
                label( 
                for="file"
                name= Choose a File
                )
                
                input( 
                    type="file" 
                    id="file" 
                    name="myFile"
                )
                               
                button(
                type= 'send the file'
                style= 'width= 20px; height: 10px'
                ) upload

        for image in images
            img(
            src=`/uploads/${image}`
            width="300px"
            height="300px"
        )
    div(id="place")
    script(src="time.js")       